<div class="map-holder">
  <div class="game-board game-map">
  </div>
  <div class="game-board map-overlay" id="map-overlay" style="width: 1000px; height: 1000px;">
  </div>
</div>
<div class="crystals-holder">
  
</div>
<div class="hand-holder">
  
</div>