<div class="map-holder">
  <div class="game-board game-map">
  </div>
  <div class="game-board map-overlay" id="map-overlay" style="width: 1000px; height: 1000px;">
  </div>
</div>
<div class="crystals-holder">
  
</div>
<div class="hand-holder">
  
</div>
<div style="position: absolute; top: 0px; left: 0px;">
  <div>You are: <span class="current-user-name"></span></div>
  <div><input type="button" value="End Turn" class="end-turn" /></div>
  <div><input type="button" value="Change Player" class="change-player" /></div>
</div>