<header>
  <h1>Yeticorn</h1>
</header>

<form method="post" action="/">

  <div class="select-player">
    <a href="#">Carl</a>
    <a href="#">???</a>
  </div>

  <div>
    <input type="text" placeholder="Player Name" />
  </div>

  <p>
    Meet Carl.
  </p>

  <p>
    Carl has a bad habit of leaving "The Gaga Pit of Doom"
    and seeking out lost wanderers for dinner.
  </p>

  <div>
    <input type="submit" value="Next &raquo;" />
  </div>

</form>