<h1>Yeticorn</h1>

<form method="post" action="/">

  <div>
    <p>Enter your name:</p>
  </div>

  <div>
    <input type="text" />
  </div>

  <div>
    <input type="submit" value="Invite Players &raquo;" />
  </div>

</form>