<header>
  <h1>Welcome to Yeticorn!</h1>
</header>

<form>
  <div>
    <a href="#" class="play">Play!</a>
  </div>
	<p>
		Yeticorn is a mobile-friendly board game involving mythical yetis with unicorn horns who move, cast spells, and attack using energy from magic crystals. 
	</p>
	<p>
		The goal is to kill your opponents by reducing their life points to zero. 
	</p>
	<p>
		The game is played on a map where players move their yeticorn character on the board to collect cards and attack opponents.
	</p> 
	<p>
		Good Luck!
	</p>
	
</form>