@import 'nib'

.game-page
  position: absolute
  transform: translate3d(0px, 0px, 0px)
  transform-origin: 0 0
  .game-board
    position: absolute
    transform-origin: 0 0
    .game-tile
      position: absolute
      width: 240px
      height: 210px
      background: transparent url('/images/tile_bg.png') top left no-repeat
      span
        font-weight: bold
    .tile-with-card
      background: transparent url('/images/tile_with_card.png') top left no-repeat
  .crystals-holder
    position: absolute
    left: 0px
    width: 100%
    background-color: #77a
    .crystals-stack
      float: left
      background-color: #006599
      margin: 0px 1px 0px 1px
      .label
        color: #fff
      .card-count
        color: #fff
        font-size: 150%
  .hand-holder
    position: absolute
    top: 0px
    background-color: #77a
