@import 'nib'

.game-page
  position: absolute
  transform-origin: 0 0
  .playing-card
    position: absolute
    border: solid 10px #fff
    background-color: #ddd
    width: 200px
    height: 300px
    border-radius: 10px
    transform-origin: 0 0
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5)
    h1, h2
      color: #666
      text-align: center
      margin-top: 30px
    h1
      font-size: 32px
    h2
      font-size: 24px
  .game-board
    position: absolute
    transform-origin: 0 0
    .game-tile
      position: absolute
      width: 240px
      height: 210px
      background: transparent url('/images/tile_bg.png') top left no-repeat
      span
        font-weight: bold
    .tile-with-card
      background: transparent url('/images/tile_with_card.png') top left no-repeat
  .crystals-holder
    position: absolute
    left: 0px
    width: 100%
    background-color: #77a
    .crystals-stack
      transform: translate3d(0px, 0px, 0px)
      position: absolute
      background-color: #006599
      border-left: solid 1px #fff
      border-right: solid 1px #fff
      .label
        position: absolute
        color: #fff
        background: rgba(0,0,0,0.3)
        padding: 0px 4px 4px 4px
      .card-count
        position: absolute
        right: 0px
        bottom: 0px
        padding: 0px 4px 4px 4px
        color: #fff
        background: rgba(0,0,0,0.3)
        font-size: 150%
        transform-origin: 100% 100%
      .cards
        position: absolute
  .hand-holder
    position: absolute
    top: 0px
    background-color: #77a
