@import 'nib'

.home-page
  form
    max-width: 400px
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    text-align: center
    input
      text-transform: uppercase
      margin-top: 12px
      width: 50%
    input[type=text]
      text-align: center
  p
    margin-top: 12px
    color: #999
    font-size: 16pt
  header
    background-color: #999
    padding: 15px
  h1
    font-size: 24pt
    text-align: center
    color: #fff
  background-color: #fff
