@import 'nib'

.home-page
  max-width: 400px
  margin: 5px auto
  padding: 5px
  margin-bottom: 0.5em
  color: #fff
  h1
    text-align: center
  background-color: #000
  input[type=submit]
    margin-top: 6px
